/* Wildcard slector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic Styles */
body {
    min-height: 100vh; /* To push footer to the bottom of the page taking up remaining space */
    display: flex;
    flex-direction: column;
}

/* Header and main CSS content across all pages */
.heading {
    justify-content: center; /* To center header */
    display: flex;
    font-size: 38px; /* Size of font in header */
    font-family: 'Comic Neue', sans-serif; /* To apply text font */
    background-color: #124e66;
    padding: 10px;
    color: #ffffff;
}

main {
    flex: 1 0 auto; /* Pushes content down to remove excess space */
    background-color: #EAE7DC; /* Colour of main area */
}
/* Navbar */
.navbar {
    background-color: #748D92; /* Sets colour of navbar background */
    justify-content: center; /* Centers content */
    display: flex;
}

.navbar ul {
    list-style: none; /* Removes bullet points */
    display: flex;
    gap: 3.5rem; /* Provides space between navbar text */
    padding: 0.3rem;
    font-family: 'Comic Neue', sans-serif; /* To apply text font */
    font-size: 20px;
}

.navbar ul a {
    color: white; /* Changes colour of text in navbar */
    text-decoration: none; /* Removes the underline from the text */
}

/* Home page CSS */
.start-area {
    justify-content: center; /* centers the text to the middle */
    display: flex;
    align-items: center; 
    height: 45vh; /* Moves content down */
    flex-direction: column; /* Lines content vertically */
    gap: 45px;
    font-family: 'Comic Neue', sans-serif; /* To apply text font */
    font-size: 20px;
    padding: 38px;
    margin-left: 25px;
    margin-right: 25px;
}

.quiz-start {
    padding: 20px;
    cursor: pointer;
    font-family: 'Comic Neue', sans-serif; /* To apply text font */
    border-radius: 12px;
    font-size: 16px;
    background-color: #124e66;
    color: white;
}

.quotes {
    font-size: 16px;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    font-family: 'Comic Neue', sans-serif; /* To apply text font */
}

.famous-quotes {
    font-weight: bold; /* Gives text bold style */
    color: #124e66;
    font-size: 22px;
}

.author {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #124e66;
    font-weight: bold;
    font-size: 17px;
}

/* Quiz Page CSS */
.container {
    margin-top: 6rem;
    background-color: #124E66;
    justify-content: center;
    display: flex;
    width: 800px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 1px 2px;
}

.btn-grid{
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: #748D92;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover {
    border-color: orange;
}

#question {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.start-btn, .next-question-btn {
    font-size: 70px;
}

.hide {
    display: none;
}

/* Footer CSS across all pages */
/* Footer */
.footer {
    background-color: #124e66;
    text-align: center;
    font-size: 22px;
}

.social-icons { 
    justify-content: center; /* To center social icons and spread them out */
    display: flex;
    padding: 15px;
    list-style: none;
    gap: 3.8rem;
}

.social-icons a {
    color: white;
}
