/* Wildcard slector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic Styles */
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

button:hover .btn:hover {
    background-color: #ffffff;
}

/* Header and main CSS content across all pages */
.heading {
    justify-content: center; 
    display: flex;
    font-size: 38px; 
    font-family: 'Comic Neue', sans-serif;
    background-color: #124e66;
    padding: 10px;
    color: #ffffff;
}

main {
    flex: 1 0 auto; 
    background-color: #EAE7DC;
}
/* Navbar */
.navbar {
    background-color: #748D92;
    justify-content: center; 
    display: flex;
}

.navbar ul {
    list-style: none; 
    display: flex;
    gap: 3.5rem; 
    padding: 0.3rem;
    font-family: 'Comic Neue', sans-serif; 
    font-size: 20px;
}

.navbar ul a {
    color: white; /* Changes colour of text in navbar */
    text-decoration: none; 
}

/* Adds underline of the current page the user is on */
.navbar ul a.active {
    text-decoration: underline;
}

/* Home page CSS */
.start-area {
    justify-content: center; 
    display: flex;
    align-items: center; 
    height: 50vh; 
    flex-direction: column; 
    gap: 40px;
    font-family: 'Comic Neue', sans-serif; 
    font-size: 20px;
    padding: 38px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Gives Quiz start button styles */
.quiz-start {
    padding: 20px;
    cursor: pointer;
    font-family: 'Comic Neue', sans-serif; 
    border-radius: 12px; 
    font-size: 20px; 
    background-color: #124e66; 
    color: white; 
    font-weight: bold; 
}

/* Hover effect on Start Quiz button */
.quiz-start:hover {
    background-color: #748D92;
    color: #000000;
}

/* Quotes on home page */
.quotes {
    font-size: 16px;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 25px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    font-family: 'Comic Neue', sans-serif; 
}
/* The Famous quotes header */
.famous-quotes {
    font-weight: bold; 
    color: #124e66;
    font-size: 22px; 
}

/* Styles for authors for quotes section on home page */
.author {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #124e66;
    font-weight: bold;
    font-size: 17px;
}

/* Quiz Page CSS */
/* Quiz game box */
.container {
    margin-top: 6rem; 
    background-color: #124E66; 
    justify-content: center; 
    display: flex; 
    width: 800px; 
    max-width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 50px; 
    border-radius: 15px; 
    box-shadow: 0 0 1px 2px; 
}

#score-container {
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #748D92;
    padding: 3px;
    border-radius: 15px;
    margin: -45px auto;
    max-width: 25%;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
/* Score throughout Quiz */
#quiz-end-message{
    text-align: center;
    align-items: center;
    margin-top: 75px;
    background-color: #124e66;
    padding: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    border: 2px solid black;
    margin-bottom: 15px;
}

.btn-grid{
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: #748D92;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover {
    background-color: #748D92;
    color: #000000;
}

#question {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.start-btn {
    font-size: 40px;
    padding: 10px;
}

.hide {
    display: none;
}

/* Correct and Wrong answers coloring */
.correct {
    background-color: green;
    
}

.incorrect {
    background-color: red;
}

/* Scoreboard CSS area */
.overall-scores-container {
    background-color: #124E66;
    width: 800px;
    max-width: 90%;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 60vh;
    border-radius: 40px;
}

.overall-scores-header {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Comic Neue', sans-serif; 
    text-decoration: underline;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

/* Footer CSS across all pages */
/* Footer */
.footer {
    background-color: #124e66;
    text-align: center;
    font-size: 22px;
}

/* Social media icon styles */
.social-icons { 
    justify-content: center; 
    display: flex;
    padding: 15px;
    list-style: none;
    gap: 3.8rem;
}

.social-icons a {
    color: white;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* Home Page Css for 768 and up */
    /* Header */
    .heading {
        font-size: 60px;
    }
    /* Navbar */
    .navbar ul {
        font-size: 26px;
        gap: 10rem;
    }
    /* Text inside start area covering the <p> elements */
    .start-area {
        font-size: 24px;
    }
    /* Quiz start button */
    .quiz-start {
        font-size: 30px;
    
    }
    /* Famous quotes text */
    .famous-quotes {
        font-size: 30px;
    }
    /* Author of Quotes */
    .author {
        font-size: 24px;
    }
    /* The Quotes themselves */
    .quotes {
        font-size: 22px;
    }
    /* Footer styling across all pages on 768 and up */
    .footer {
        font-size: 30px;
    }
    /* Social Media Icons */
    .social-icons {
        gap: 8rem;
    }
    }
    
    /* Quiz page CSS */
    .btn {
        font-size: 20px;
    }
    
    .start-btn {
        font-size: 40px;
    }
    
    #question {
        font-size: 26px;
    }
    
    #quiz-end-message {
        font-size: 24px;
    }
    
    /* Scoreboard CSS for 768 and up */
    
    .overall-scores-container {
        background-color: #124E66;
        width: 800px;
        max-width: 70%;
        justify-content: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        padding: 40px;
        height: 60vh;
        border-radius: 40px;
    }
    
    .overall-scores-header {
        color: #ffffff;
        font-weight: bold;
        font-family: 'Comic Neue', sans-serif;
        text-decoration: underline;
    }