/* Wildcard slector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic Styles */
body {
    min-height: 100vh; /* To push footer to the bottom of the page taking up remaining space */
    display: flex;
    flex-direction: column;
}

.heading {
    justify-content: center; /* To center header */
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px; /* Margin bottom to create space between navbar and header */
    font-size: 50px; /* Size of font in header */
    font-family: 'Comic Neue', sans-serif; /* To apply text font */
}

main {
    flex: 1 0 auto;
}

/* Navbar */
.navbar {
    background-color: rgb(35, 255, 255);
    justify-content: center;
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 9rem;
    padding: 0.3rem;
}

.quiz-area {
    background-color: aliceblue;
    flex: 1 0 auto;
}

/* Game control area, Buttons etc */
.game-controls {
    flex-direction: column; 
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 15rem;
}

.game-controls button {
    width: 300px; /* Adjust width to make buttons wider */
    height: 80px; /* Adjust height to make buttons taller */
    font-size: 24px; /*Adjust font size for button text */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: rgb(35, 255, 255);
    text-align: center;
}

.social-icons { 
    justify-content: center; /* To center social icons and spread them out */
    display: flex;
    padding: 15px;
    list-style: none;
    gap: 5.5rem;
}
